//Colors

$black-color: #242333;
$opacityBlack-color: rgba(36, 35, 51, 0.6);
$white-color: #fff;
$grey-color: #bababa;
$lightGrey-color: #f2f2f2;
$pink-color: #e21c83;
$lightPink-color: #f8cac1;
$orange-color: #eb5f43;
$gold-color: #d5a14e;

//breakpoints

$md1: 992px;
$md2: 768px;
$md3: 480px;